numpy==1.21.6
scipy==1.7.3
pymc3==3.11.5
pymc3-ext==0.1.1
pyerfa==2.0.0.3
PyYAML==6.0
arviz==0.12.1
Jinja2==3.1.2
matplotlib==3.7.2
tqdm==4.65.0
starry-process==0.9.8
Theano-PyMC==1.1.2
tomli==2.0.1
starry==1.2.0
emcee==3.1.0
corner==2.2.2
cartopy==0.22.0
exoplanet==0.5.3
exoplanet-core==0.1.2
Pillow==10.0.0
xarray==2023.6.0
xarray-einstats==0.5.1
xyzservices==2023.5.0